n8n-etl/workflows/real-time-transactions.json
{
  "name": "Scout Real-Time Transaction Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scout-transactions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Transaction Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO scout.raw_transaction_ingestion (raw_data, source, source_filename, ingested_at, ingestion_batch_id) VALUES ({{ $json.body | json }}, 'webhook', '{{ $json.headers[\"x-source\"] }}', NOW(), '{{ $json.headers[\"x-batch-id\"] }}')"
      },
      "id": "insert-bronze",
      "name": "Insert to Bronze",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-pooler",
          "name": "Supabase Pooler"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.amount }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.body.date }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-data",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://n8n.insightpulseai.net/webhook/dbt-silver-refresh",
        "requestMethod": "POST",
        "jsonParameters": true,
        "options": {}
      },
      "id": "trigger-dbt",
      "name": "Trigger dbt Silver Refresh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"batch_id\": $json.headers[\"x-batch-id\"], \"rows_ingested\": 1 } | json }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Missing required fields\" } | json }}"
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 350]
    }
  ],
  "connections": {
    "Webhook - Transaction Event": {
      "main": [
        [
          {
            "node": "Insert to Bronze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Bronze": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Trigger dbt Silver Refresh",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger dbt Silver Refresh": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler-workflow"
  },
  "tags": ["scout", "ingestion", "real-time"]
}
